{% extends "agenda/layout.html" %}

{% block body %}
<div class="container-sm">

    <br>

    <div class="container container-sm col-title col-6">
        <h2>Login</h2>
    </div>

    <br>

    <div class="container container-sm col-title col-6">
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>

        <br>

        <p>Don't have an account? <a href="{% url 'agenda:register' %}">Register here.</a></p>

        <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here.</a></p>
    </div>

</div>
{% endblock %}