{% extends 'agenda/layout.html' %}

{% block title %}Request Received{% endblock %}

{% block body %}

  <br>

  <div class="container container-sm col-title col-6">
    <h2>Your Request Has Been Received.</h2>
  </div>

  <br>

  <div class="container container-sm col-title col-6">
    <p>Your password reset request has been logged and an admin will send you a link to reset your password in the next few days.</p>
    <p>If you need to sign up for a role or speech sooner, please contact the VP Education.</p>
  </div>
{% endblock %}