{% extends 'agenda/layout.html' %}

{% block title %}Enter new password{% endblock %}

{% block body %}

    {% if validlink %}

        <br>

        <div class="container container-sm col-title col-6">
        <h2>Set a new password!</h2>
        </div>
    
        <br>
    
        <div class="container container-sm col-title col-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Change My Password</button>
            </form>
        </div>
    {% else %}
        <div class="container container-sm col-title col-6">
            <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        </div>
    {% endif %}
    
{% endblock %}