{% extends 'agenda/layout.html' %}
{% load static %}

{% block title %}
    Bulk Create Meetings
{% endblock %}

{% block body %}
    <br>

    <!--Page Title-->
    <div class="container container-sm col-title col-8">
        <h2>Bulk Create Meetings</h2>
    </div>

    <br>

    <!--Create Meetings Form-->
    <div class="container container-sm col-title col-8">
        <form method="POST">
            {% csrf_token %}

            <!--Start Date-->
            <div class="form-group">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" value="{{ date_today }}" required>
            </div>

            <!--End Date-->
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" value="" required>
            </div>

            <!--Which Day of the Week-->
            <div class="form-group">
                <label for="ens_date">Day of the Week:</label>
                <select class="form-select form-control" id="day_of_the_week" name="day_of_the_week" required>
                    <option value="0">Monday</option>
                    <option value="1" selected>Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
            </div>

            <!--Time of day-->
            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <input type="time" id="start_time" name="start_time" class="form-control" value="18:10" required>
            </div>

            <!--Submit button-->
            <button type="submit" class="btn btn-primary mb-3">Create Meetings</button>
        </form>
    </div>

{% endblock %}