{% extends 'agenda/layout.html' %}
{% load static %}

{% block title %}
    Email Confirmations
{% endblock %}

{% block body %}

<br>

    <div class="container container-sm col-title col-8">
        <h2>Send Email Confirmations for Meeting on: {{ meeting.starttime|date:"M d, Y" }}</h2>
    </div>

    <br>

    <!--Attendance Confirmation Emails Dashboard-->
    <div class="container container-sm col-title col-8">
        <h4>1) Attendance Confirmations</h4>
        <p>Send a confirmation email to all members with Unknown Attendence at the Meeting.</p>
        <p>List of members with unknown attendance: 
            {% for member in unknown_attendees %}
                <b>{{ member.username }}</b>, 
            {% endfor %}
        </p>

        <!--The actual email form-->
        <form action="/confirmation_emails/{{ meeting.id }}" method="POST">
            {% csrf_token %}
            <div class="form-group"> <!--Recipients list-->
                <label for="recipients">Recipients:</label>
                <input type="text" id="recipients" name="recipients" class="form-control" value="{% for member in unknown_attendees %}{{ member.email }} {% endfor %}" required>
            </div>
            <div class="form-group"> <!--Email that will send out the email-->
                <label for="from">From:</label>
                <input type="text" id="from" name="from" class="form-control" value="Rytoastplanner@gmail.com" disabled required>
            </div>
            <div class="form-group"> <!--Email subject line-->
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="form-control" value="**Confirm your Attendence** at the Ryerson Toastmasters Meeting on {{ meeting.starttime|date:'M d, Y' }}" required>
            </div>
            <div class="form-group"> <!--Email body/message-->
                <label for="body">Email Message:</label>
                <textarea type="text" id="body" name="body" class="form-control" rows="10" required>
Hi Toastmaster $/Name/$,

The Ryerson Toastmasters meeting on {{ meeting.starttime|date:'M d, Y' }} starting at {{meeting.starttime|time }} with the theme {{ meeting.theme }} is coming up!

You still haven't confirmed your attendance, make sure you do so ASAP! You are currently considered eligible to take on a role and may be scheduled soon.

You can CONFIRM your attendance using this link: rytoastplanner.herokuapp.com/confirm_attendance/{{ meeting.id }}/$/Name/$/T
You can DECLINE your attendance using this link: rytoastplanner.herokuapp.com/confirm_attendance/{{ meeting.id }}/$/Name/$/F

Stay Toasty,

Toastmaster {{ request.user.username }}
E: {{ request.user.email }}
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Attendance Confirmation Email</button>


        </form>
    </div>

    <br>

    <!--Request for Roles Sign Up Emails Dashboard-->
    <div class="container container-sm col-title col-8">
        <h4>2) Roles Sign Up Request</h4>
        <p>Send an email to all members who have not signed up for a role yet at the meeting.</p>
        <p>List of members without a role: 
            {% for member in no_role_attendees %}
                <b>{{ member.username }}</b>, 
            {% endfor %}
        </p>

        <!--The actual email form-->
        <form action="/confirmation_emails/{{ meeting.id }}" method="POST">
            {% csrf_token %}
            <div class="form-group"> <!--Recipients list-->
                <label for="recipients">Recipients:</label>
                <input type="text" id="recipients" name="recipients" class="form-control" value="{% for member in no_role_attendees %}{{ member.email }} {% endfor %}" required>
            </div>
            <div class="form-group"> <!--Email that will send out the email-->
                <label for="from">From:</label>
                <input type="text" id="from" name="from" class="form-control" value="Rytoastplanner@gmail.com" disabled required>
            </div>
            <div class="form-group"> <!--Email subject line-->
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="form-control" value="**Sign Up for a Role** at the Ryerson Toastmasters Meeting on {{ meeting.starttime|date:'M d, Y' }}" required>
            </div>
            <div class="form-group"> <!--Email body/message-->
                <label for="body">Email Message:</label>
                <textarea type="text" id="body" name="body" class="form-control" rows="10" required>
Hi Toastmaster $/Name/$,

The Ryerson Toastmasters meeting on {{ meeting.starttime|date:'M d, Y' }} starting at {{meeting.starttime|time }} with the theme {{ meeting.theme }} is coming up soon!

You are not currently signed up for a role during the meeting, but there are still some roles that need to be filled out.
If you would like to volunteer for a role you can use the following link: rytoastplanner.herokuapp.com/meeting/{{ meeting.id }}

The following roles still have to be filled for the meeting:{% for role in unfilled_roles %}
- {{ role}}{% endfor %}

Stay Toasty,

Toastmaster {{ request.user.username }}
E: {{ request.user.email }}
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Role Sign Up Request Email</button>


        </form>
    </div>

    <br>

    <!--Final Meeting Reminder Emails Dashboard-->
    <div class="container container-sm col-title col-8">
        <h4>3) Final Meeting Reminder</h4>
        <p>Send an email to all members who have confirmed their attendance at the Meeting.</p>
        <p>List of members attending: 
            {% for member in confirmed_attendees %}
                <b>{{ member.username }}</b>, 
            {% endfor %}
        </p>

        <!--The actual email form-->
        <form action="/confirmation_emails/{{ meeting.id }}" method="POST">
            {% csrf_token %}
            <div class="form-group"> <!--Recipients list-->
                <label for="recipients">Recipients:</label>
                <input type="text" id="recipients" name="recipients" class="form-control" value="{% for member in confirmed_attendees %}{{ member.email }} {% endfor %}" required>
            </div>
            <div class="form-group"> <!--Email that will send out the email-->
                <label for="from">From:</label>
                <input type="text" id="from" name="from" class="form-control" value="Rytoastplanner@gmail.com" disabled required>
            </div>
            <div class="form-group"> <!--Email subject line-->
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="form-control" value="**Final Meeting Reminder** for the Ryerson Toastmasters Meeting on {{ meeting.starttime|date:'M d, Y' }}" required>
            </div>
            <div class="form-group"> <!--Email body/message-->
                <label for="body">Email Message:</label>
                <textarea type="text" id="body" name="body" class="form-control" rows="10" required>
Hi Toastmaster $/Name/$,

The Ryerson Toastmasters meeting on {{ meeting.starttime|date:'M d, Y' }} starting at {{meeting.starttime|time }} with the theme {{ meeting.theme }} is coming up soon!

Thank you for telling me that you will be coming to this meeting.

The full agenda is now out on the website if you would like to print it.
View or print the agenda: rytoastplanner.herokuapp.com/meeting/{{ meeting.id }}

If you have a role, make sure you arrive early (5:50-6:00pm) so that the meeting can start on time.

See you there.

Stay Toasty,

Toastmaster {{ request.user.username }}
E: {{ request.user.email }}
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Meeting Reminder Email</button>


        </form>
    </div>

{% endblock %}