{% extends 'agenda/layout.html' %}
{% load static %}

{% block title %}
    Email Confirmations
{% endblock %}

{% block body %}

<br>

    <div class="container container-sm col-title col-8">
        <h2>Send Email Confirmations for Meeting on: {{ meeting.starttime|date:"M d, Y" }}</h2>
    </div>

    <br>

    <!--Attendance Confirmation Emails Dashboard-->
    <div class="container container-sm col-title col-8">
        <h4>Attendance Confirmations</h4>
        <p>Send a confirmation email to all members with Unknown Attendence at the Meeting.</p>
        <p>List of members with unknown attendance: 
            {% for member in unknown_attendees %}
                <b>{{ member.username }}</b>, 
            {% endfor %}
        </p>

        <!--The actual email form-->
        <form action="/confirmation_emails/{{ meeting.id }}" method="POST">
            {% csrf_token %}
            <div class="form-group"> <!--Recipients list-->
                <label for="recipients">Recipients:</label>
                <input type="text" id="recipients" name="recipients" class="form-control" value="{% for member in unknown_attendees %}{{ member.email }} {% endfor %}" required>
            </div>
            <div class="form-group"> <!--Email that will send out the email-->
                <label for="from">From:</label>
                <input type="text" id="from" name="from" class="form-control" value="Rytoastplanner@gmail.com" disabled required>
            </div>
            <div class="form-group"> <!--Email subject line-->
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" class="form-control" value="**Confirm your Attendence** at the Ryerson Toastmasters Meeting on {{ meeting.starttime|date:'M d, Y' }}" required>
            </div>
            <div class="form-group"> <!--Email body/message-->
                <label for="body">Email Message:</label>
                <textarea type="text" id="body" name="body" class="form-control" rows="10" required>
Hi Toastmaster $/Name/$,

The Ryerson Toastmasters meeting on {{ meeting.starttime|date:'M d, Y' }} starting at {{meeting.starttime|time }} with the theme {{ meeting.theme }} is coming up!

You still haven't confirmed your attendance, make sure you do so ASAP! You are currently considered eligible to take on a role and may be scheduled soon.

You can CONFIRM your attendance using this link: https://www.rytoastplanner.herokuapp.com/confirm_attendence/{{ meeting.id }}/$/Name/$/T
You can DECLINE your attendance using this link: https://www.rytoastplanner.herokuapp.com/confirm_attendence/{{ meeting.id }}/$/Name/$/F

Stay Toasty,

Toastmaster {{ request.user.username }}
E: {{ request.user.email }}
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Attendance Confirmation Email</button>


        </form>
    </div>

{% endblock %}