{% extends 'agenda/layout.html' %}
{% load static %}

{% block title %}
    {% if new_meeting == True %}
        Create New Meeting
    {% else %}
        Edit Meeting {{ id }}
    {% endif %}
{% endblock %}

{% block body %}

<br>

    <div class="container container-sm col-title col-6">
        <h2>Edit Meeting on: {{ meeting.starttime|date:"M d, Y" }}</h2>
    </div>

    <br>

    <div class="container container-sm col-title col-6">
        <form action="/edit_meeting/{{ id }}" method="POST" style="margin: auto;">
            {% csrf_token %}

            <!--Edit Meeting details-->

            <h4>Meeting Details</h4>
            <hr>

            <div class="form-group">
                <label for="date">Meeting Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ start_date }}">
            </div>
            <div class="form-group">
                <label for="start_time">Meeting Start Time:</label>
                <input type="time" id="start_time" name="start_time" class="form-control" value="{{ start_time }}">
            </div>
            <div class="form-group">
                <label for="theme">Meeting Theme:</label>
                <input type="text" id="theme" name="theme" class="form-control" value="{{ meeting.theme }}">
            </div>
            <div class="form-group">
                <label for="wod">Word of the Day:</label>
                <input type="text" id="wod" name="wod" class="form-control" value="{{ meeting.wod }}">
            </div>

            <br>

            <h4>Role Assignments</h4>
            <hr>

            <!--List all the roles user can edit-->
            {% for key, value in roles.items %}
                <div class="form-group">
                    <label for="{{ key }}">{{ key }}:</label>
                    <select  id="{{ key }}" name="{{ key }}" class="form-control">
                        {% if value %}
                            <option>{{ value }}</option>
                        {% endif %}
                        <option style="color: #772432;">None</option>

                        <!--List out all the users who can fill the role-->
                        {% for user in users %}
                            {% if user != value %}
                                <option>{{ user }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
            
            <button type="submit" class="btn btn-primary">Save Changes</button>

            <a class="btn btn-danger" href="{% url 'agenda:delete_meeting' id %}">Delete Meeting</a>

        </form>
    </div>
    


{% endblock %}