{% extends 'agenda/layout.html' %}
{% load static %}

{% block title %}
    index
{% endblock %}

{% block body %}
    
    <br>

    <div class="container-xl">
        
        <div class="container col-title" style="position: relative">
            <h1>Ryerson Toastmasters</h1>
            <h3>Meeting: {{ meeting.starttime }} EST</h3>
            <p style="position: absolute; top: 5px; right: 10px;"><b>Club: </b>01474196</p>
            {% if request.user.executive %}
                <a href="{% url 'agenda:edit_meeting' id %}" class="btn btn-primary" style="position: absolute; bottom: 5px; right: 10px;">Edit Meeting</a>
            {% endif %}
        </div>

        <br>

        <!--Main section of page-->
        <div class="row">

            <!--Sidebar-->
                <div class="col-3 sidebar">

                    <!--Sidebar group with meeting information-->
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <b>Word of the Day:</b>
                            </td>
                            <td>
                                <a href="https://www.merriam-webster.com/dictionary/{{ meeting.wod }}" target="_blank"><p>{{ meeting.wod }}</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Meeting Theme:</b>
                            </td>
                            <td>
                                <p>{{ meeting.theme }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Eventbrite:</b>
                            </td>
                            <td>
                                <a href="https://www.eventbrite.ca/e/the-ryerson-toastmasters-weekly-membership-meeting-tickets-110513236064" target="_blank"><p>Visit</p></a>
                            </td>
                        </tr>
                    </table>

                    <!--Sidebar group with the role sign ups and holders-->
                    <table class="table table-hover">
                        {% for key, value in rolelist.items %}
                            <tr>
                                <td>
                                    <a href="https://www.ryersontoastmasters.ca/roles-{{ key }}" target="_blank">
                                        <b>{{ key }}</b>
                                    </a>
                                </td>
                                <td>
                                    {% if value.0 == 'No Member Assigned' %}
                                        {% if user.executive or user == rolelist.Toastmaster or user == rolelist.Facilitator %}
                                            {% if value.0 == 'No Member Assigned' %}
                                                {% for member in value %}
                                                    {% if member != 'No Member Assigned' %}  
                                                        <select id="{{ key }}" class="form-control form-select-sm" aria-label=".form-select-sm" onchange='OnChange(this);'>
                                                            <option>None</option>
                                                            {% for recommendation in member %}
                                                                {% if recommendation.time_since %}
                                                                    <option id="{{ key }}" style="color: {{ recommendation.indicator}}">{{ recommendation.user }} - {{ recommendation.time_since }} days ago</option>
                                                                {% else %}
                                                                    <option id="{{ key }}">{{ recommendation }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% elif user.is_authenticated %}
                                            <button onclick="role_sign_up('{{ request.user.username }}', '{{ key }}', '{{ meeting.id }}');" class="btn btn-sm btn-primary" style="white-space: nowrap;">Sign Up</button>
                                        {% else %}
                                            <p>None</p>
                                        {% endif %}
                                    {% else %}
                                        <p>{{ value }}</p>
                                        {% if user.executive or user == rolelist.Toastmaster or user == rolelist.Facilitator %}
                                            {% if key != "" and key != "Ballot Counter" %}
                                                <button class="btn btn-outline-danger btn-sm" onclick="sign_up('None', '{{ key }}', '{{ meeting.id }}');" id="{{ role }}_delete" style="margin: auto!important">X</button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>


                    <!--Sidebar List of the executive officers-->
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <b>President</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/michael-rogala-53a48917b/" target="_blank"><p>Michael Rogala</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>VP Education</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/miguelting/" target="_blank"><p>Miguel Ting</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>VP Membership</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/abdulsami26/" target="_blank"><p>Sami Ali</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>VP Events</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/abdulrahmanalbochi/" target="_blank"><p>Abdulrahman Al Bochi</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>VP Marketing</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/domenic-s-b5339a174/" target="_blank"><p>Domenic Salituro</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>VP Finance</b>
                            </td>
                            <td>
                                <a href="https://www.linkedin.com/in/ann-thanh-dieu-anh-trinh-b765ba150/" target="_blank"><p>Ann Trinh</p></a>
                            </td>
                        </tr>
                    </table>


                    <!--Sidebar List of the Links-->
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <b>Club Website</b>
                            </td>
                            <td>
                                <a href="https://www.ryersontoastmasters.ca" target="_blank"><p>Visit</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>TI Website</b>
                            </td>
                            <td>
                                <a href="https://www.toastmasters.org" target="_blank"><p>Visit</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Basecamp</b>
                            </td>
                            <td>
                                <a href="https://www.toastmasters.org/pathways/basecamporpathways" target="_blank"><p>Visit</p></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Review the Club</b>
                            </td>
                            <td>
                                <a href="https://g.page/r/Cc_4p_ynWVhLEAE/review" target="_blank"><p>Review</p></a>
                            </td>
                        </tr>
                    </table>

                </div>

            <!--Table for agenda and roles-->
            <div class="col-9">
                <table class="table table-hover">
                    <thead class="table-light">
                        <th>Time</th>
                        <th>Event</th>
                        <th>Role</th>
                        <th>Presenter</th>
                        <th>Duration</th>
                    </thead>
                    <tbody>
                        
                        <!--Loop through the event list and print out agenda-->
                        {% for event in eventlist %}
                            <tr>
                                <!--Start time--><td scope="row"><b>{{ event.start_time }}</b></td>
                                <!--Event description--><td style="white-space: pre-line">{% if request.user == event.user %}{% if event.role == 'Speaker 1' or event.role == 'Speaker 2' or event.role == 'Speaker 3' %}<form action="/update_role_description/{{ id }}" method="POST">{% csrf_token %}<input type="hidden" name="role" value="{{ event.role }}"><div class="mb-3"><textarea style="max-width: 100%; min-height: 150px;" class="form-control" name="description">{{ event.description }}</textarea></div><button type="submit" class="btn btn-primary">Save Changes</button></form>{% else %}{{ event.description }}{% endif %}{% else %}{{ event.description }}{% endif %}</td>
                                <!--Role--><td>{{ event.role }}</td>
                                <!--Presenter--><td>
                                    {% if event.user.0 == 'No Member Assigned' %}
                                        {% if user.executive or user == rolelist.Toastmaster or user == rolelist.Facilitator %}
                                            {% for member in event.user %}
                                                {% if member != 'No Member Assigned' %}  
                                                    <select id="{{ event.role }}" class="form-control" onchange='OnChange(this);'>
                                                        <option>None</option>
                                                        {% for recommendation in member %}
                                                            {% if recommendation.time_since %}
                                                                <option id="{{ event.role }}" style="color: {{ recommendation.indicator}}">{{ recommendation.user }} - {{ recommendation.time_since }} days ago</option>
                                                            {% else %}
                                                                <option id="{{ event.role }}">{{ recommendation }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            {% endfor %}
                                        {% elif user.is_authenticated %}
                                            <button onclick="role_sign_up('{{ request.user.username }}', '{{ event.role }}', '{{ meeting.id }}');" class="btn btn-sm btn-primary" style="white-space: nowrap;">Sign Up</button>
                                        {% else %}
                                            <p>None</p>
                                        {% endif %}
                                    {% else %}
                                        {{ event.user }}
                                        {% if user.executive or user == rolelist.Toastmaster or user == rolelist.Facilitator %}
                                            {% if event.user != None and event.role != "Ballot Counter" %}
                                                <button class="btn btn-outline-danger btn-sm" onclick="sign_up('None', '{{ event.role }}', '{{ meeting.id }}', this);" id="{{ role }}_delete" style="margin: auto!important">X</button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <!--Duration--><td>{{ event.green_time }}-{{ event.yellow_time }}-{{ event.red_time }} min</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>



                <!--Attendee and Absentee information-->
                <br><hr><br>

                <div class="container col-title">
                    <h2>Member Attendence Information</h2>
                </div>

                <br>
                
                <div class="row">
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Confirmed Attendence</h5>
                          {% for attendee in confirmed_attendees %}
                            <p class="card-text" id="{{ attendee }}_attendence">{{ attendee }}</p>
                          {% endfor %}
                          <p id="{{ username }}_confirm_attendence"></p>
                          {% if not confirmed_attendees %}
                            <p class="card-text">No Members</p>
                          {% endif %}
                          <button href="" id="confirm_attendence_btn" class="btn btn-success" value="{{ username }}">Confirm Your Attendence</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Unknown Attendence</h5>
                          {% for attendee in unknown_attendees %}
                            <p class="card-text" id="{{ attendee }}_attendence">{{ attendee }}</p>
                          {% endfor %}
                          {% if not unknown_attendees %}
                            <p class="card-text">No Members</p>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                          <div class="card-body">
                            <h5 class="card-title">Not Attending</h5>
                            {% for attendee in absentees %}
                                <p class="card-text" id="{{ attendee }}_attendence">{{ attendee }}</p>
                            {% endfor %}
                            <p id="{{ username }}_decline_attendence"></p>
                            {% if not absentees %}
                                <p class="card-text">No Members</p>
                            {% endif %}
                            <button href="" id="decline_attendence_btn" class="btn btn-danger" value="{{ username }}">Confirm NOT Attending</button>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    document.addEventListener('DOMContentLoaded', function() {
        // Add event listeners
        document.querySelector('#confirm_attendence_btn').addEventListener('click', () => confirm_attendence());
        document.querySelector('#decline_attendence_btn').addEventListener('click', () => decline_attendence());
    });


    function OnChange(dropdown){
        // Get member selection from dropdown form
        var myindex_number = dropdown.selectedIndex;
        console.log(myindex_number);
        var SelValue = dropdown.options[myindex_number].value
        SelValue = convert_user_and_roles_string_to_just_user(SelValue)
        console.log(SelValue);
        
        // Get which role is being selected
        const role = dropdown.id;
        console.log(role);

        //Sign the user up for the role using the API
        result = sign_up(SelValue, role, {{ id }});

        // Update inner HTML with new role holder
        dropdown.parentElement.innerHTML = `${SelValue} <button class="btn btn-outline-danger btn-sm" onclick="sign_up('None', '${role}', '{{ meeting.id }}', this);" id="${role}" style="margin: auto!important">X</button>`;

        return false;
    }

    // Function to parse string fo user and their roles this meeting to return just the user as a string
    function convert_user_and_roles_string_to_just_user(input){   
        record = []

        for (var i=0; i < input.length; i++){
            if (input[i] != ' '){
                record[i] = input[i];
            }
            else {
                record = record.join("");
                return record;
            }
        }
        }


    function confirm_attendence(){
        // Get username
        const username = document.querySelector('#confirm_attendence_btn').value;
        const meeting_id = {{ meeting.id }};
        
        // Pass input to API
        fetch('/attendence', {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'user': username,
                'meeting_id': meeting_id,
                'status': 'T'
            })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
            const action = result[0]['action'];

            // Update the attendence list buttons
            document.querySelector('#confirm_attendence_btn').style.display = 'none';
            document.querySelector('#decline_attendence_btn').style.display = 'block';

            // Update the attendence lists
            document.querySelector(`#${username}_attendence`).style.display = 'none';
            document.querySelector(`#${username}_decline_attendence`).style.display = 'none';
            document.querySelector(`#${username}_confirm_attendence`).style.display = 'block';
            document.querySelector(`#${username}_confirm_attendence`).innerHTML = username;
        })
        .catch(function (err) {
            console.log(err);
        });



        return false;
    }


    function decline_attendence(){
        // Get username
        const username = document.querySelector('#decline_attendence_btn').value;
        const meeting_id = {{ meeting.id }};
        
        // Pass input to API
        fetch('/attendence', {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'user': username,
                'meeting_id': meeting_id,
                'status': 'F'
            })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
            const action = result[0]['action'];

            // Update the attendence list buttons
            document.querySelector('#confirm_attendence_btn').style.display = 'block';
            document.querySelector('#decline_attendence_btn').style.display = 'none';

            // Update the attendence lists
            document.querySelector(`#${username}_attendence`).style.display = 'none';
            document.querySelector(`#${username}_confirm_attendence`).style.display = 'none';
            document.querySelector(`#${username}_decline_attendence`).style.display = 'block';
            document.querySelector(`#${username}_decline_attendence`).innerHTML = username;
        });

        return false;
    }


    function sign_up(username, role, meeting_id, button){
        
        console.log(username, role, meeting_id);

        fetch('/sign_up', {
            method: 'POST',
            credentials: 'same-origin',
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                'user': username,
                'role': role,
                'meeting_id': meeting_id
            })
        })
        .then(response => response.json())
        .then(result => {
            // Print result
            console.log(result);
            return result;
        })
        .catch(function (err) {
            console.log(err);
        });

        // If the function call was to remove the user, update innerHTML with a role recommendation list
        if (username == 'None'){
            console.log("We're in the username == 'None' condition")
            console.log(role, meeting_id)

            fetch('/fetch_call_recommend_one_role', {
                method: 'POST',
                credentials: 'same-origin',
                headers:{
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'role': role,
                    'meeting_id': meeting_id
                })
            })
            .then(response => response.json())
            .then(result => {
                // Print result
                console.log(result);
                console.log(result[0]['recommendation_list']);

                // Get the recommendation list from the fetch call result
                recommendation_list = result[0]['recommendation_list']

                // Make the recommendation list into a printable string
                recommendation_str = "";
                for (index in recommendation_list){
                    if (typeof yourVariable === 'Object'){
                        recommendation_str = recommendation_str + `<option>${recommendation_list[index]['user']} - ${recommendation_list[index]['time_since']}  days ago</option>`;
                    }
                    else{
                        recommendation_str = recommendation_str + `<option>${recommendation_list[index]}</option>`;
                    }
                }

                // Update the innerHTML
                console.log(`Role being deleted: ${role}`)
                console.log(button.parentElement)
                button.parentElement.innerHTML = `<select id="{{ value.2 }}" class="form-control" onchange='OnChange(this);'>
                    <option>None</option>
                    ${recommendation_str}
                </select>`


                return result;
            })
            .catch(function (err) {
                console.log(err);
            });
        }
        

        return false;
    }

    // Wait function from https://stackoverflow.com/questions/14226803/wait-5-seconds-before-executing-next-line
    function wait(ms){
        var start = new Date().getTime();
        var end = start;
        while(end < start + ms) {
            end = new Date().getTime();
        }
    }


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

{% endblock %}